.book-card {

    display: inline-block;
    flex-direction: column;
    border : 1px solid white;
    border-radius: 5px;
    margin: 50px;
    text-align: left;
    padding: 5px;
    background: chocolate;
}

h3{
    text-align: center;
}

h4 {
    text-align: center;
}

p{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
